*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.nav-titel{
    height: 100px;
    width: 800px;
    background-color: skyblue;
    margin:  auto;
}

.nav-titel ul li{
    list-style-type: none;
    margin: 20px;
    float: left;
    padding-right: 80px;
}

.nav-titel ul li a{
    text-decoration: none;
    font-size: 20px;
    cursor: help; 
}
.nav-titel ul li a:hover{
    text-decoration: underline;
    text-decoration-color:black;
}

/* tooltip section */

#header-section{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}

.tooltip{
    text-decoration: none;
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 150px;
    background-color: indigo;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.tooltip:hover .tooltip-text{
     visibility: visible;
}